:root {
    --blue-rgb: 92 192 249;
    --yellow-rgb: 144 161 35;
    --green-rgb: 64 161 35;
    --brown-rgb: 127 46 23;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom right, #75b8ba, #fda172);
    background-attachment: local;
    overflow-x: hidden;
    background-size: cover;
    background-color: #75b8ba;
}
body {
    color: black;
    overflow: hidden;
} 

.section--header{
    font-size: 35px;
    font-weight: 500;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.section--header.projects{
    font-size: 35px;
    font-weight: 500;
    margin-left: 3rem;
    margin-bottom: 0rem;
}